.filmList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;

    list-style: none;
}

.film {
    width: 330px;
    height: 780px;
    background-color: rgba(0, 0, 255, 0.2);
    /* overflow: hidden; */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 62px;
    padding: 8px;
    text-align: center;


    background-color: rgba(0, 0, 255, 0.2);
}

.info {
    display: flex;
    justify-content: space-between;

    padding: 8px;

    color: aqua;
}

.overviewWrap {
    /* padding: 8px; */
    width: 330px;
    height: 216px;
    /* background: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0)); */
    /* background-color: rgba(1, 65, 255, 0.4); */
    /* background-color: rgba(0, 0, 255, 0.2); */
    overflow-y: auto;

}

.overview {
    padding: 8px;

    /* background: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0)); */
    /* background-color: rgba(1, 65, 255, 0.4); */
    /* background-color: rgba(0, 0, 255, 0.2); */
    /* overflow-y: auto; */

}