/* .filmListWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 2500px;
} */

.filmList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    list-style: none;

    /* margin-right: auto;
    margin-left: auto;
    width: 2030px; */
}

.film {
    width: 330px;
    height: 780px;

    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 16px;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 62px;
    padding: 8px;
    text-align: center;


    background-color: rgba(0, 0, 255, 0.2);
}

.info {
    display: flex;
    justify-content: space-between;

    padding: 8px 16px;

    color: aqua;
}

.overviewWrap {
    width: 330px;
    height: 216px;
    overflow-y: auto;
}

.overview {
    padding: 8px 16px;
}